* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;

}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: grid;
  place-items: center;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
}

main {
  background: url(./assets/Mobile.svg) no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  min-height: 80rem;
}

.container {
  max-width: 25rem;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 16rem;
  margin: 18.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -1.5rem;
  z-index: 1;
}

.avatar>img {
  width: 16rem;
  object-fit: cover;
  height: 18.4rem;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 2.4rem;
  margin-top: 2.4rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.container a img {

  width: 2rem;
  height: 2rem;
  background: rgb(183, 180, 180);
  border-radius: 50%;
  border: 1px solid black;
}

p {
  margin-top: 3.2rem;

}

ul {
  margin-top: 6.4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

@media(min-width:540px) {
  main {
    background: url(./assets/Desktop.svg) no-repeat center/cover;


    background-color: black;
  }
}

@media(min-height:1020px) {
  .container {
    margin-top: 30rem;
  }
}

@media(min-width:2000px) {
  :root {
    font-size: 100%;
  }

  #socialLinks img {
    width: 3rem;
    height: auto;
  }
}